<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body,
        html {
            background-image: url('/background.png');
            background-size: cover;
            background-repeat: no-repeat;
        }

        fieldset {
            width: 36.555%;
            margin: 0 auto;
            padding: 25px;
            font-family: Segoe UI;
            text-align: center;
            border-radius: 5px;
            border-bottom: #3bd2c1;
            border-right: #3bd2c1;
            border-top: #37474f;
            border-left: #37474f;
            border-style: solid;
            transition: ease-in;
            background-color: #fff;
        }

        .login {
            text-align: center;
            color: #fff;
        }

        .login a {
            color: #fff;
        }

        input {
            margin-right: 10px;
        }

        .avatar {
            margin-top: 20px;
            text-align: center;
        }

        .avatar img {
            width: 30%;
        }

        button {
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            color: #fff;
            background-color: #37474f;
            cursor: pointer;
        }

        button:hover {
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            color: #37474f;
            background-color: #3bd2c1;
        }

        .alert {
            float: left;
            padding: 10px 50px;
            background-color: greenyellow;
        }
    </style>
</head>



<body>


    <% if(message.length > 0) { %>
        <div class="alert">
            <%= message %>
        </div>
    <%}%>
            <div class="avatar">
                <img src="http://www.ecardcenters.com/img/login-img.png" alt="login">
            </div>
            <fieldset>
                <form action="/login" method="POST">
                    <label for="login">Login:</label>
                    <input type="text" name="email" id="login">
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha">
                    <button type="submit">Entrar</button>
                </form>
            </fieldset>
            <div class="login">
                <p>Não possue conta? <a href="/register">Registre-se</a></p>
            </div>

</body>

</html>